/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins&display=swap");

/* Variables */
:root {
  --body-bg-color: #131417;
  --body-bg-color2: #252830;
  --body-font-color: #afb6cd;
  --font-hover-color: #fff;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-sm);
  line-height: 1.5;
  background-color: var(--body-bg-color);
  color: var(--body-font-color);
  letter-spacing: 1px;
  text-align: center;
  padding-top: 100px;
}

a {
  color: var(--body-font-color);
  text-decoration: none;
}

a:hover {
  color: var(--font-hover-color);
}

/* Navbar */

.container {
  background: var(--body-bg-color2);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header-h2 {
  font-size: var(--font-size-md);
  color: var(--font-hover-color);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.navbar-menu {
  visibility: hidden;
  position: absolute;
  top: 7rem;
  right: 1.5rem;
  padding: 1.5rem;
  width: 15rem;
  line-height: 2;
  background-color: var(--body-bg-color2);
  transition: visibility 0.4s, max-height 0.5s;
  max-height: 0;
  overflow: hidden;
}

#about {
  line-height: 1;
}

.navbar-menu.open {
  visibility: visible;
  max-height: 1000px;
}

.menu-toggle-icon {
  background-color: inherit;
  border: none;
  transition: 0.35s;
}

.menu-toggle-icon:hover {
  cursor: pointer;
  transform: rotate(0.5turn);
}

.navbar-list-item {
  list-style-type: none;
}

/* Section-1 */

.intro {
  padding-bottom: 20px;
  font-family: "Permanent Marker", sans-serif;
  color: var(--font-hover-color);
  font-size: 5rem;
}

.intro-p {
  font-size: var(--font-size-md);
  color: var(--font-hover-color);
  margin: 20px auto;
}

.love {
  font-weight: 900;
  text-decoration: underline;
  margin: auto 5px;
}

.home-para {
  margin: 20px 50px;
}

.wave {
  height: 30rem;
  padding-left: 50px;
}
/* Footer */

.footer {
  width: 100%;
  padding: 1.5rem;
  line-height: 2.5;
}

.copyright {
  font-size: var(--font-size-xsm);
}

.social {
  font-size: var(--font-size-md);
  padding: 10px;
}

/* Media Queries */
@media screen and (max-width: 650px) {
  body {
    text-align: center;
  }

  .navbar-menu {
    position: fixed;
    right: 10px;
    line-height: 4;
  }
}
